/*home page styles*/
#header{
	border:2px solid grey;
	width: 50%;
	margin-left: 25%;
  text-align: center;
}
#header img{
  width: 12%;
  margin: 1%;
}
#main{
	width: 50%;
  margin-top: 1%;
	margin-left: 25%;
}
.block_news{
	border-top:2px solid grey;
  border-bottom:2px solid grey;
  background-color: rgba(0, 0, 0, 0.1);
	margin:1%;
  padding: 1%;
}
.conteinerTitle{
  width: 100%;
  text-align: center;
  margin-bottom: 5%;
}
.action_link{ 
	cursor: pointer;
  font-weight: bold;
  margin: 1%;
  background-color: rgba(0, 0, 0, 0.0);
  color: black;
  width: 100%;
  
  font-size: 130%;
}
.action_link:hover{ 
   color: rgba(201, 95, 2);
}
.hide_values{
	display: none;
}
.short_descriptions{
  font-size: 100%;
  margin-left: 5%;
  width: 70%;
  text-align: left;
}
.publication_date{
  float: right;
  margin-top: -5%;
  margin-right: 1%;
  color: black;
  font-size: 80%;
}
.render-list-quick-buttons{
  border-radius: 15%;
  border:1px solid black;
  margin: 0.3%;
  font-size: 120%;
  cursor: pointer;
}
#startButton{
  margin-left: 30%;
}
.render-list{
  border-radius: 15%;
  border:1px solid black;
  margin: 0.3%;
  font-size: 120%;
  cursor: pointer;

}
.render-list-quick-buttons:hover{
  color: rgba(201, 95, 2);
  background-color: grey;
}
.render-list:hover{
  color: rgba(201, 95, 2);
  background-color: grey;
}
/*about page styles*/
#mainAbout{
  width: 50%;
  margin-top: 1%;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  margin-left: 25%;
}
.block_fullInfo{
    background-color: rgba(0, 0, 0, 0.1); 
    padding: 2%;
}
.block_fullInfo h2{
    text-align: center;
}
.full_descriptions{
    width: 70%;
    text-align: left;
}
.publication_date_fullpage{
   float: right;
   margin-top: -5%;
}
#toMainPage{
  cursor: pointer;
  margin: 1%;
  border:1px solid #35383d;
  background-color: grey;
  color: orange;
  width: 22%;
  font-size: 130%;
  border-radius: 5%;
  margin-left: -76%;
}

#toMainPage:hover{
  color: white;
  border:1px solid black;
}

/*login page styles*/
#div_main{
  border: 0.5px solid #f7f7f7;
  margin: 100px auto;
  margin-top: 50px;
  width: 20%;
  height: 450px;
  padding: 20px;
  background-color: #efefef;
  border-radius: 5%;
}
#div_main h1{
  text-align: center;
  color: black;
  border-bottom: 0.5px solid grey;
}
#div_main form{
  margin: 80px 0px 10px 30px;
  width: 77%;
}
#div_main form input{
  margin-bottom: 25px;
  font-family: 'Lobster', cursive;

}
.sub{
  margin-top: 35px;
  margin-left: 0px;
  color: black;

}
#div_main p{
  margin-top: 40px;
  text-align: center;
  color: #a0a0a0;
}

/*admin page styles*/
#exit{
  color:red;
  float: right;
}
#mainAdminInfo{
  width:80%;
  margin-left: 17%;
  padding-top: 3%;
}
#div_table_choise{
  float: left;
  display: inline-grid;
  background: black;
  border:1px solid black;
  width: 15%;
  height: 100px;
}
#div_table_choise input{
  margin: 1%;
  background-color: grey;
  color: orange;
}
#divValuesToAdd{
  margin-bottom: 2%;
}
.values_to_add{
  border: 2px solid black;
  width: 17%;
  text-align: center;
}
.add_values{
  border: 2px solid black;
  width: 6%;
  float: left;
  margin-top: 1px;
  background-color: grey;
  height: 45px;
  color: orange;
}
table{
  border:1px solid black;
}
th{
  border:1px solid black;
}
td{
  border:1px solid black;
}
td input{
  width: 90%;
}
td textarea{
  width: 90%;
}
.deleteField{
  width: 2%;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.deleteField:hover{
  background-color: grey;
  color: orange;
}